.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}

//header
@import "blocks/header";
//Title
@import "blocks/title";
//Footer
@import "blocks/footer";
//Modal
@import "blocks/modal";
//PageUp Button
@import "blocks/pageup";
